{% extends 'SHCOOL/base.html' %}
 {% load static %}

 {% block content %}

 <!-- Page breadcrumb -->
 <section style="background-color: orange;" id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>Gallery</h2>
          <ol class="breadcrumb">
           <li><a href="{% url 'SHCOOL:OverListView' %}">Home</a></li>            
           <li class="active">Gallery</li>
         </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb -->
 <!-- Start gallery  -->
 <section id="mu-gallery">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-gallery-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>Events Photos</h2>
            <p>Events can get crowded, and event security guards are expected to maintain order throughout the entirety of the event. Photos taken.</p>
          </div>
          <!-- end title -->
          <!-- start gallery content -->
          <div class="mu-gallery-content">
            <!-- Start gallery menu -->
            <div class="mu-gallery-top">              
              <ul>
                <li class="" data-filter=".other"><a>HOT SECURITY GALLERY</a></li>
              </ul>
            </div>
            <!-- End gallery menu -->
            <div class="mu-gallery-body">
              <ul id="mixit-container" class="row">

                <!-- start single gallery image -->

{% for image in images %}
                <li class="col-md-4 col-sm-6 col-xs-12 mix lab">
                  <div class="mu-single-gallery">                  
                    <div class="mu-single-gallery-item">
                      <div class="mu-single-gallery-img">
                        <a href="#"><img alt="img" src="{{image.Images.url}}"></a>
                      </div>
                      <div class="mu-single-gallery-info">
                        <div class="mu-single-gallery-info-inner">
                          <h4>MATRIX</h4>
                          <p>Security</p>
                          <a href="{{image.Images.url}}" data-fancybox-group="gallery" class="fancybox"><span class="fa fa-eye"></span></a>
                          <a href="#" class="aa-link"><span class="fa fa-link"></span></a>
                        </div>
                      </div>                  
                    </div>
                  </div>
                </li>
{% endfor %}

              </ul>            
            </div>
          </div>
          <!-- end gallery content -->
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End gallery  -->

 {% endblock %}
 

  